@charset "UTF-8";
/*设置默认编码集*/



/*字体*/ 
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(../fonts/opensans.woff) format('woff');
}

@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('../fonts/MyriadPro-Regular.eot');
    src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MyriadPro-Regular.woff') format('woff'),
         url('../fonts/MyriadPro-Regular.ttf') format('truetype'),
         url('../fonts/MyriadPro-Regular.svg#glyphicons_halflingsregular') format('svg');
}
/*load end*/
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(../fonts/opensans.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/opensans-bold.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans Extra Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Extra Bold'), local('OpenSans-ExtraBold'), url(../fonts/OpenSans-ExtraBold.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans Italic';
    font-style: italic;
    font-weight: 400;
    src: local('Open Sans Italic'), local('OpenSans-Italic'), url(../fonts/opensans-italic.woff) format('woff');
}

@font-face{
    font-family: 'Open Sans Bold Italic';
    font-style: italic;
    font-weight: 400;
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(../fonts/opensans-bolditalic.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans Extra Bold Italic';
    font-style: italic;
    font-weight: 700;
    src: local('Open Sans Extra Bold Italic'), local('OpenSans-ExtraBoldItalic'), url(../fonts/OpenSans-ExtraBoldItalic.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url(../fonts/opensans-condensedbold.woff) format('woff');
}

h2 {
    font-family: 'Open Sans bold';
}
h1, h2.title-main, .lead.username {
    font-family: 'Open Sans bold';
}   

ul, ol, li {
    list-style-type: none;
}
.word-content ul, .word-content ol,.word-content li {
    list-style-type: disc;
}
.word-content ul, .word-content ol {
    padding-left:2rem;
}
input:focus, button:focus, a:focus {
    outline: 0;
}
em, .text-em {
    font-style: italic;
}
ul {
    padding-left: 0;
}
p {
    word-wrap:break-word;
    white-space:normal;
}
h1, h2, h3, h4, h5,
h1 a, h2 a, h3 a, h4 a, h5 a {
    color: #292929;font-family: 'Open Sans Condensed', sans-serif;
}
h1, h2 {
    font-weight: bold;
    line-height: 125%;
    margin-top: 0;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
    font-weight: bold;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
input[type="text"], input[type="email"], input[type="password"] {
    border: 1px solid #e5e5e5;
    border-radius: 4px;
}
// input {
//     -webkit-appearance: none;
// }
textarea {
    width: 100%;
    color: #666;
    border: 1px solid #e5e5e5;
    padding: 10px;
}
dt, label, h2.title-sub {
    font-weight: normal;
}
th, td {
    line-height: 150%;
    padding-top: 10px;
    padding-bottom: 10px;
}
th {
    border: none;
}
td {
    border: 1px solid #e5e5e5;
    word-break: break-all;
}
body {
    background: #fff url(../Images/bg_body.png) repeat-x 0 0;
    color: #292929;
    max-width: 100%;
    overflow-x: hidden;
}
a {
    text-decoration: none !important;color:#337ab7;
}
.icon-home, .icon-star, .icon-arrow-down, .icon-page-pre, .icon-page-next, .icon-share, .icon-share-d, .icon-print-wh-s, .icon-comment, .icon-map-marker-s, .icon-fork, .icon-cutlery, .icon-rmb, .icon-add-photo, .icon-file-add {
    width: 14px;
    height: 14px;
}
div.wrapper {
    background: none;
    padding-top: 0;
}

.red {
    color: red;
}

/*css 初始化 start */


body, div, p, li, span {
    font-family: 'Open Sans';
}

/*各浏览器显示不同，去掉边框等默认样式*/
fieldset, img, input, button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}


/*防止拖动 影响布局*/
textarea {
    resize: none;
}

/*去掉行内替换元素空白缝隙*/
img {
    border: 0;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
}


a:link {
    text-decoration: none;
}

// a:visited {
//     text-decoration: none;
//     color: #666;
// }

a:hover {
    text-decoration: none;
    color: #666;
}

a:active {
    text-decoration: none;
    outline: none;
}
p {
    word-wrap: break-word;
    white-space: normal;
}

/*废物利用*/
s, i, em {
    font-style: normal;
    text-decoration: none;
}

/*项目主体色*/


body {
    background: #fff url(../images/bg_body.png) repeat-x 0 0;
    color: #292929;
    max-width: 100%;
    font-family: 'Open Sans';
}

.wrapper > .container {
    background: #ffffff;
    position: relative;
}

@media (min-width: 1024px) {
    .wrapper > .container, .container {
        padding-right: 20px;
        padding-left: 20px;
        width: 1040px;
    }

}


/*头部*/ 
.thats-header {
    padding-top: 27px;
}

.thats-header .dropdown {
    vertical-align: middle;
    text-transform: uppercase;
}

.thats-header .dropdown-cityname {
    margin-top: 25px;
}

.thats-header .dropdown-cityname .dropdown-menu{
    margin-top: 12px;
}

.dropdown button {
    background: none;
    border: none;
    text-transform: uppercase;
}

.caret {
    border: none !important;
    position: relative;
    background: url(../images/icon.png) no-repeat -26px 0;
    vertical-align: middle;
    width: 14px;
    height: 14px;
}

.thats-header .search {
    height: 48px;
}

.thats-header #navsearchmodule {
    display: inline-block;
    width: 65px;
}



.search-group {
    border: 1px solid #e5e5e5;
    border-radius: 17px;
    height: 36px;
    margin: 20px 0 0 20px;
    width: 343px;
    line-height: 34px;
}

.search-group  .dropdown {
    margin-left: 20px;
}

.search-group  input {
    margin-left: 5px;
}


.search-group .icon-search {
    display: block;
    border: 0 none;
    background-color: #fff;
    color: #fc4103;
    font-size: 16px;
    margin-right: 15px;
}

.thats-header .user-info {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    background-color: rgba(200,200,200,0.3);
}

.thats-header .user-info  li {
    float: left;
    display: inline-block;
    color: #999;
}

.thats-header .user-info  li a {
    display: inline-block;
    padding: 5px 10px;
    font-size: 11px;
    color: #999;
}

.thats-header .user-info  li a:hover {
    color: #666;
}

/*nav部分*/
.thats-header .nav {
    border-top: 1px dashed #e5e5e5;
    border-bottom: 1px dashed #e5e5e5;
} 

.thats-header .nav a {
    display: inline-block;
    font-size: 16px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-family: 'Open Sans';
    background: none;
    color: #aaa;
}

.thats-header .nav li.active a,.thats-header .nav a:hover {
    color: #292929;
    background: none;
}

.thats-header .thats-navbar {
    margin-bottom: 15px;
}


/*主题部分*/ 


/*导航广告*/ 
.thats-content .thats-nav-ad {
    margin-bottom: 15px;
}

.thats-content .thats-nav-ad img {
    width: 100%;
    height: auto;
}

/*轮播图*/









/*底部部分开始*/ 

#footer {
    width: 100%;
    line-height: 26px;
    background: #25282b;
    padding: 48px 10px 48px 10px;
}

#footer p {
    margin: 0;
    color: #999;
}

#footer p a {
    margin: 0 4px;
    color: #999;
    word-wrap: break-word;
    white-space: normal;
}

#footer p a:hover {
    color: #aaa;
}

#footer p a:nth-child(1) {
    margin-left: 0;
}

#footer ul {
    padding: 0;
    margin: 0;
}

#footer li {
    float: left;
}


#footer .pull-right li {
    margin-left: 11px;
}

#footer .footer-logo a {
    margin-right: 22px;
}



#mobile-nav .citylist {
    border: none;
}

#mobile-nav .unified-center {
    margin-top: 10px;
}

#mobile-nav .citylist .cityname {
    text-transform: uppercase;
    color: #888;
    font-size: 12px;
}

#mobile-nav .glyphicon-search {
    color: #fc4103;
}

#mobile-nav .search-mobile{
    padding: 6px 14px;
}


#mobile-nav #mobile-navbar-collapse ul li {
    text-transform: uppercase;
}
#mobile-nav .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

#mobile-navbar-search {
    position: relative;
}

#mobile-navbar-search>div {
    height: 55px;
}

#mobile-navbar-search>div form {
    height: 32px;
}

#mobile-nav .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height: 768px;
}

#mobile-nav .navbar-nav>li>a {
    padding: 6px 15px;
    line-height: auto;
}

#mobile-nav hr {
    margin: 5px 0;
}


#mobile-search-form input {
    height: 32px;
    width: 100%;
    border-radius: 15px;
    padding-left: 15px;
    margin-top: 10px;
    border: 1px solid #e5e5e5;
}

#mobile-search-form .icon-search {
    position: absolute;
    right: 30px;
    top: 18px;
    background-color: transparent;
}

/*底部部分结束*/ 

/*thats-app部分开始*/ 
.ad-thatsapp {
    width: 100%;
    height: 50px;
    background: rgba(0,0,0,.8);
    position: fixed;
    bottom: 0;
    padding: 0 10px;
    z-index: 1;
}

.ad-thatsapp>div {
    float: left;
}

.ad-thatsapp>div:first-child {
    margin-right: 10px;
}


.ad-thatsapp .ad-thatsapp-open {
    float: right;
    line-height: 50px;
}


.ad-thatsapp  img {
    width: 60px;
    height: 60px;
    position: relative;
    bottom: 12px;
}

.ad-thatsapp-close {
    position: absolute;
    top: -25px;
    right: -8px;
    zoom: 0.4;
}


.ad-thatsapp-text p {
    font-size: 10px;
    width: 155px;
    color: #fff;
    font-weight: 600;
    margin-top: 10px;
}

.ad-thatsapp-open {
    position: relative;
}

.ad-thatsapp-open button {
    background: #fc4103;
    color: #fff;
    margin-right: 15px;
}

.ad-thatsapp-open .btn:hover {
    color: #fff !important;
}

.ad-thatsapp-open .btn:active {
    color: #fff !important;
}



.ad-thatsapp-open .ad-thatsapp-close img {
    top: -40px;
    right: -10px;
}
/*thats-app部分结束*/ 



@media screen and (max-width: 768px) {
    #footer {
        padding: 12px 10px 10px 10px;
    }

    #mobile-nav .mobile-logo {
        height: 30px;
        margin-top: 10px;
        margin-left: 15px;
    }
}

// @media screen and (max-width: 991px) and (min-width: 768px) {

//     #thats-navbar .nav {
//         margin-top: 0;
//         padding-top: 10px;
//         line-height: 40px;
//         margin: 0 0 20px;
//     }

//     #thats-navbar .nav li {
//         width: 49%;
//         display: inline-block;
//     }

//     #thats-navbar .nav li a {
//         font-style: 14px;
//     }

// }

@media screen and (max-width: 992px) and (min-width: 768px) {
    .thats-header .dropdown-cityname {
        margin-top: 35px;
    }
    .search-group {
        margin: 28px 0 0 20px;
        width: 318px;
    }
}



   







