@charset "UTF-8";
/*设置默认编码集*/



/*字体*/ 
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(../fonts/opensans.woff) format('woff');
}

/*css 初始化 start */

html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}

/*各浏览器显示不同，去掉边框等默认样式*/
fieldset, img, input, button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul, ol {
    list-style: none;
}


/*防止拖动 影响布局*/
textarea {
    resize: none;
}

/*去掉行内替换元素空白缝隙*/
img {
    border: 0;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
}


a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: #666;
}

a:hover {
    text-decoration: none;
    color: #666;
}

a:active {
    text-decoration: none;
    outline: none;
}


/*废物利用*/
s, i, em {
    font-style: normal;
    text-decoration: none;
}

/*项目主体色*/


body {
    background: #fff url(../images/bg_body.png) repeat-x 0 0;
    color: #292929;
    max-width: 100%;
    font-family: 'Open Sans';
}

.wrapper > .container {
    background: #ffffff;
    position: relative;
}

@media (min-width: 1024px) {
    .wrapper > .container, .container {
        padding-right: 20px;
        padding-left: 20px;
        width: 1040px;
    }

}


/*头部*/ 
header {
    padding-top: 27px;
}

header .dropdown {
    vertical-align: middle;
    text-transform: uppercase;
}

header .open>.dropdown-menu {
    margin-left: -40px;
}

header .dropdown-menu>li>a {
    text-align: center;
}

.dropdown button {
    background: none;
    border: none;
    text-transform: uppercase;
}

.caret {
    border: none !important;
    position: relative;
    background: url(../images/icon.png) no-repeat -26px 0;
    vertical-align: middle;
    width: 14px;
    height: 14px;
}

.wrapper header .row .col-md-6 {
    line-height: 48px;
}


header .search {
    height: 48px;
}



.search-group {
    border: 1px solid #e5e5e5;
    border-radius: 17px;
    height: 34px;
    vertical-align: middle;
}

.search-group .icon-search {
    display: block;
    border: 0 none;
    background-color: #fff;
    color: #fc4103;
    font-size: 16px;
}

header .user-info {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    background-color: rgba(200,200,200,0.3);
}

header .user-info  li {
    float: left;
    display: inline-block;
    color: #999;
}

header .user-info  li a {
    display: inline-block;
    padding: 5px 10px;
    font-size: 11px;
    color: #999;
}

header .user-info  li a:hover {
    color: #666;
}

/*nav部分*/
header .nav {
    border-top: 1px dashed #e5e5e5;
    border-bottom: 1px dashed #e5e5e5;
} 

header .nav a {
    display: inline-block;
    font-size: 16px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-family: 'Open Sans';
    background: none;
    color: #aaa;
}

header .nav li.active a,header .nav a:hover {
    color: #292929;
    background: none;
}

header .thats-navbar {
    margin-bottom: 15px;
}


/*主题部分*/ 


/*导航广告*/ 
.thats-content .thats-nav-ad {
    margin-bottom: 15px;
}

.thats-content .thats-nav-ad img {
    width: 100%;
    height: auto;
}

/*轮播图*/









/*底部部分开始*/ 

#footer {
    width: 100%;
    line-height: 26px;
    background: #25282b;
    padding: 48px 10px 48px 10px;
}

#footer p {
    margin: 0;
    color: #999;
}

#footer p a {
    margin: 0 4px;
    color: #999;
    word-wrap: break-word;
    white-space: normal;
}

#footer p a:hover {
    color: #aaa;
}

#footer p a:nth-child(1) {
    margin-left: 0;
}
#footer li {
    float: left;
}


#footer .pull-right li {
    margin-left: 11px;
}

#footer .footer-logo a {
    margin-right: 22px;
}

#mobile-nav .citylist {
    border: none;
}

#mobile-nav .glyphicon-search {
    color: #fc4103;
}

#mobile-nav .search-mobile{
    padding: 6px 14px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: none;
}




/*底部部分结束*/ 



@media screen and (max-width: 768px) {
    #footer {
        padding: 28px 10px 10px 10px;
    }

    #mobile-nav .mobile-logo {
        height: 30px;
        margin-top: 10px;
    }
    .wrapper {
        padding-top: 50px;
    }

    /*移动端头部按钮颜色*/ 
    // #mobile-nav .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    //     background-color: none !important;
    // }
}

@media screen and (max-width: 768px) and (min-width: 240px) {

    #thats-navbar .nav {
        margin-top: 0;
        padding-top: 10px;
        line-height: 40px;
        margin: 0 0 20px;
    }

    #thats-navbar .nav li {
        width: 49%;
        display: inline-block;
    }

    #thats-navbar .nav li a {
        font-style: 14px;
    }

}



   







