@charset "UTF-8";

/*分享开始*/ 
.toolbar {
    float: right;
}
.toolbar li {
    width: 32px;
    height: 32px;
    float: left;
    margin-left: 10px; 
    cursor: pointer;
}

.toolbar li a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.toolbar li:hover {
    opacity: 0.9;
}

.toolbar .one {
    background: url(../images/share.png) no-repeat 0 0;
}

.toolbar .two {
    background: url(../images/share.png) no-repeat -45px 0;
}

.toolbar .three {
    background: url(../images/share.png) no-repeat -90px 0;
}

.toolbar .four {
    background: url(../images/share.png) no-repeat -135px 0;
}

.toolbar .five {
    background: url(../images/share.png) no-repeat -180px 0;
}

.share-content {
    padding: 20px 0 26px 0;
}

.word-content p,#article-details .word-content div {
    color: #444;
    font-size: 16px;
    margin-bottom: 40px;
}

.word-content div:nth-child(2) {
    margin-bottom: 30px;
}

.share-content span {
    float: left;
    color: #444;
    font-size: 14px;
}

.share-content span:nth-child(2){
    margin-left: 72px;
}

.share-content>a {
    display: inline-block;
    float: left;
    color: #797979;
    font-size: 14px;
    background-color: #e1e1e1;
    padding: 5px 10px;
    border-radius: 4px;
    margin-right: 11px;
}
/*分享结束*/ 

.btn-red:hover, .btn-red:focus, .btn-red.focus, .btn-red:active, .btn-red.active {
    background: rgba(230, 50, 18, 1);
    color: rgba(255, 255, 255, 1);
}


/*--------------------------- Article start ----------------------- */
.word-container, .word-title {
	position: relative;
}
.word-container {
    margin-bottom: 30px;
    max-width: 704px;
}
.breadcrumb {
    background: none;
    padding-top: 0;
    padding-left: 0;
    font-size: 12px;
    margin-bottom: 10px;
}
.breadcrumb >li {
	display: inline-block;
}
.breadcrumb a {
	color: #f9421e;
}
.breadcrumb a:hover {
    color: #f9421e;
}
.addup a {
    margin-left: 15px;
}
.thaticon {
    position: relative;
    display: inline-block;
    background: url(../images/icon.png) no-repeat;
    vertical-align: middle;
}

.icon-home {
    margin-right: 5px;
    background-position: -24px -16px;
}
.icon-share {
    background-position: -40px -151px;
}
.icon-comment {
    background-position: -56px -151px;
}
.text-dark {
    color: #666;
}
.article-banner {
	margin:15px 0;
}
.word-content .tool-top {
    width: 100%;
}
.article-banner >img {
	max-width: 100%;
}
.share-s {
	margin-top:10px;
}
.share li {
	display: inline-block;
}
.text > p:first-child {
    margin-top: 20px;
}
.text > p {
	font-size: 16px;
	color: #221815;
    margin-bottom: 20px;
}
.text > p > img {
    margin: 10px auto 20px;
    max-width: 100%;
}
.btn-tag {
    width: auto;
    height: 24px;
    border: 1px solid #9a9a9a;
    border-radius: 4px;
    background-color: #f4f4f4;
    color: #9a9a9a;
    position: relative;
    margin-right: 10px !important;
    margin-bottom: 3px;
    line-height: 12px;
    padding: 5px 15px 0px 6px !important;
}
.btn-tag:before {
    content: "";
    position: absolute;
    width: 19px;
    height: 20px;
    border: 2px solid #9a9a9a;
    transform: rotate(45deg) scale(0.75) translate(-1px, 0px) skew(14deg, 13deg);
    -webkit-transform: rotate(45deg) scale(0.75) translate(-1px, 0px) skew(14deg, 13deg);
    -moz-transform: rotate(45deg) scale(0.75) translate(-1px, 0px) skew(14deg, 13deg);
    -o-transform: rotate(45deg) scale(0.75) translate(-1px, 0px) skew(14deg, 13deg);
    -ms-transform: rotate(45deg) scale(0.75) translate(-1px, 0px) skew(14deg, 13deg);
    transform-origin: top left;
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    border-bottom: 0;
    border-left: 0;
    border-radius: 4px;
    background-color: #f4f4f4;
    right: -18px;
    top: -1px;
}
.btn-tag:after {
    content: "";
    width: 6px;
    height: 6px;
    border: 1px solid #ccc;
    border-radius: 50%;
    background: transparent;
    display: block;
    position: absolute;
    right: 2px;
    top: 8px;
}
.line-dashed {
    height: 1px;
    font-size: 1px;
    border-bottom: 1px dashed #e5e5e5;
    margin-bottom: 15px;
    width: 100%;
}
.text-shadow {
    border-bottom: 5px solid #fc4103;
    font-family: 'Arial Narrow';
    display: inline-block;
}
.bor-bottom {
    border-bottom: 1px dashed #e5e5e5;
}
.thumb-big .img-container > a {
    width: 438px;
    height: 246px;
}
.thumb-small {
	display: flex;
    height: 124px;
    margin-top: 20px;
    overflow: hidden;
}
.thumb-small .img-container > a {
    width: 176px;
    height: 132px;
    display: block;
}
.thumb-small .img-container {
    flex: 5;
}
.thumb-small .text-container {
    flex: 7;
    margin-left: 5px;
}
.more-news .more-text {
    border-left: 1px dashed #e5e5e5;
}
.thumb-small h3, .more-text .text-container > h3, .thumb-side h3 {
    margin-top: 0;
    line-height: 130%;
}
.more-text .text-container > p {
    height: 40px;
    line-height: 160%;
    overflow: hidden;
}
.text-muted {
    color: #999;
}
.bdr-fresh:hover {
	color: #46dcff;
}
.word-comment {
    padding: 15px 0 10px;
}
.text-muted {
    color: #999;
}
img {
	max-width: 100%;
}
.comment-info *[type="button"] {
    margin-top: 10px;
}
.btn-l {
    padding: 0 30px;
}
.btn-l, .btn-all {
    line-height: 40px;
}
.btn-red {
    background: rgba(249, 66, 30, 1);
}
.btn-red, .btn-green, .btn-fresh, .btn-gray {
    color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    border: none;
}
.icon-search, .icon-th-large, .icon-map-marker, .icon-add, .icon-calendar, .icon-calendar-g, .icon-print-wh {
    width: 20px;
    height: 20px;
}
.icon-add {
    background-position: 0 -140px;
}
.picture {
    margin-bottom: 20px;
}

.picture .col-sm-2 {
    width: 20%;
}
.row.picture .img-container {
	// max-height: 95px;
	overflow: hidden;
}
.picture p, .picture p a, .row-fluid a, .user-info li, .user-info li a, .select-sort a, .tab-side .nav-tabs > li > a, #footer p, #footer a {
	color: #999;
}
.picture p {
    margin-top: 6px;
}
.container-fluid.page-bottom {
    overflow: hidden;
    padding: 0;
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.page-bottom .row {
    margin: 0;
}

.page-bottom .col-md-4 {
    height: 188px;
    padding: 0;
}


.page-bottom .ewm img {
    width: 132px;
} 

.page-bottom .pull-left {
    width: 50%;
    padding-top: 5px;
}

.page-bottom .pull-right {
    width: 50%;
    padding-top: 5px;
}
.page-bottom .col-md-4:nth-of-type(2) img {
	width: auto;
	margin-top: 25px;
}
.page-bottom .col-md-4:last-child img {
    width: 141px;
    display: inline-block;
}
.sidebar-module {
    padding: 10px 0 6px;
}
.sidebar-module h2 {
    margin-top: 0;
}
.share-s .icon-twitter {
    background-position: -150px 0;
}
.share-s .icon-facebook {
    background-position: -150px -30px;
}
.share-s .icon-weibo {
    background-position: -150px -60px;
}


.share-s .icon-twitter, .share-s .icon-facebook, .share-s .icon-weibo {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.share-s a {
	display: inline-block;
	width: 100%;
	height: 100%;
} 
.follow-us input[type="email"] {
    margin-top: 5px;
    padding: 10px;
    line-height: normal;
}
.instagram {
	width: 94%;
}
input[type="text"], input[type="email"], input[type="password"] {
    border: 1px solid #e5e5e5;
}
.btn-email {
	margin: 10px auto;
}
.btn-all, .w-all {
    width: 100%;
}
.btn-fresh:hover, .btn-fresh:focus, .btn-fresh.focus, .btn-fresh:active, .btn-fresh.active {
    background: #69cf81;
    color: #fff;
}
.btn-fresh {
    background: #76e18f;
}
.sidebar-module .share, .sidebar-module .thumb-side {
    border-bottom: 1px dashed #e5e5e5;
}
.thumb-side {
    padding-bottom: 10px;
}
.sidebar-module .thumb-side .img-container {
    margin-bottom: 15px;
}
.sidebar-module .img-container:nth-child(1) {
    margin-top: 20px;
}
.text-bold, .comment-title {
	font-weight: bold;
}
.text-italic {
    font-style: italic;
}
.add-font {
	color: #fff;
}
.add-btn:hover {
	background-color: rgb(226, 47, 12);
}
/*----- 弹出层 start ---- */
#reviewModal {
    padding-right: 17px;
}
.add-laber {
	width: 22%;
}
.add-control {
	width: 78%;
}
.form-group > * {
    display: block;
    float: left;
}
/*----- 弹出层 end ---- */
/*--------------------------- Article end ----------------------- */

/*--------------------------- features开始 ----------------------- */
#carousel-example-generic {
    overflow: hidden;
}

#carousel-example-generic .item {
	max-height: 448px;
	min-height: inherit;
    overflow: hidden;
    margin-bottom: 20px;
}


#carousel-example-generic .carousel-control.left, .carousel-control.right {
    background-image: none;
}

#carousel-example-generic .item a img {
	width: 100%;
}

#carousel-example-generic .item .carousel-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: rgba(0,0,0,0.5);
	padding: 15px 15px 10px 20px;
}


#carousel-example-generic .carousel-caption h1{
	color: #fff;
	overflow: hidden;
 	text-overflow: ellipsis;
 	display: -webkit-box;
 	-webkit-line-clamp: 1;
 	-webkit-box-orient: vertical;
 	text-align: left;
 	margin: 0;
}

#carousel-example-generic .carousel-caption p {
	color: #fff;
	overflow: hidden;
 	text-overflow: ellipsis;
 	display: -webkit-box;
 	-webkit-line-clamp: 1;
 	-webkit-box-orient: vertical;
 	text-align: left;
}


.flex-slider .slider-img img {
    width: 100%;
    height: auto;
}

.flex-slider .slider-row ul {
    height: auto;
}

.flex-slider .slider-row ul li {
    padding: 0;
    height: 300px;
    display: block;
    background: rgba(234, 234, 234, 1);
    margin-bottom: 40px;
    width: 32%;
    margin-right: 2%;
    text-align: center;
}

.flex-slider .slider-row ul li:nth-child(3n) {
    margin-right: 0;
}


.flex-slider .slider-row h3 {

}

.flex-slider .slider-row p {
    line-height: 18px;
    color: #999;
    text-align: center;
}

.flex-slider .slider-more-btn {
    margin-bottom: 20px;
    text-align: center;
}

.flex-slider .slider-more-btn a {
    display: inline-block;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    color: rgba(41, 41, 41, 1);
    width: 250px;
    height: 40px;
    line-height: 33px;
    border: 3px dashed #33373b;
    border-radius: 4px;
}

.flex-slider .slider-more-btn a:hover {
    color: #666;
    border: 3px dashed #666;
}
/*--------------------------- features结束 ----------------------- */

/*--------------------------- news start ----------------------- */
.carousel-control.left, .carousel-control.right {
    background-image: none;
}
.main .carousel {
    margin-bottom: 45px;
}
.carousel-indicators {
    bottom: -35px;;
}
.carousel-indicators li {
    background: rgba(0, 0, 0, .25);
    border: none;
}
.carousel-indicators .active {
    background: rgba(249, 66, 30, 1);
    width: 12px;
    height: 12px;
    margin-top: -4px;
}
.front-carousel-caption {
    background-color: rgba(0,0,0,0.5);
    bottom: 0;
    padding: 15px 15px 5px 20px;
    left: 0;
    right: 0;
    text-align: left;
}
.front-carousel-caption h1 a {
    color: #fff;
}
.carousel-caption h1 {
    color: #fff;
}
.front-carousel-caption p.text-muted {
    color: #eee;
}
.thumb-side .img-container img {
	width: 100%;
}
.see-all {
    position: absolute;
    right: 0;
    top: -30px;
    padding-left: 5px;
}
.see-all > a {
    display: block;
}
.writing-container, .writing-container header {
	position: relative;
}
.text-fresh small {
    color: #46dcff;
}
.mb-35, *.mb-35 {
    margin-bottom: 35px;
}
.img-container > a > img, .sidebar .tab-pane .pull-left img, .banner a > img, .tsab a>img {
	width: 100%;
}
.writing {
    margin-bottom: 20px;
    margin-top: 10px; 
}
.abstract {
    padding-top: 30px;
    line-height: 160%;
    overflow: hidden;
}
.writing h2, .writing h3 {
    margin-top: 0;
}
.writing p.time-stamp {
    color: #aaa;
}
.item .carousel-caption h1 {
	margin-top: 0;
}
.banner, .tsab {
    margin: 0 0 15px;
}
.gallery-wrap .word-title > h1, .gallery-wrap .word-title > p, .carousel-caption h1, .side-banner .pic-intro .pull-left, .banner-s .pic-intro .pull-left, .news-pic.thumb-big h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;	
}
.right-add {
	border:0 none;
    max-height: 460px;
    max-width: 100%;
}

/*--------------------------- news end ----------------------- */

/*--------------------------- bars start ----------------------- */
.sidebar .tab-pane .pull-left {
    width: 40%;
}



.sidebar .tab-pane .pull-right, .article .text-container {
    width: 58%;
    height: 74px;
    line-height: 120%;
    overflow: hidden;
}
.sidebar .tab-pane .pull-right, .article .text-container a {
    color: #333;
}
.area-b .pull-right h3 {
	margin: 0;
}
.icon-star {
    background-position: -24px -32px;
}
.article.area-b .img-container {
    width: 96px;
    height: 72px;
}
.sidebar-module >.article {
    padding-top: 10px;
    margin-bottom: 6px;
}
.pt-0 .area-b .img-container {
	margin-top: 0;
}
.sidebar .tab-pane li, .article {
    padding: 10px 0;
    border-bottom: 1px dashed #e5e5e5;
}
.newest {
	padding-bottom: 30px;
}
.text-fresh, *.text-fresh, * .text-fresh {
    color: #46dcff;
}
.tab-side {
    padding-top: 10px;
}
.tab-side .nav-tabs {
    border: none;
}
.tab-row-2 > * {
    width: 50%;
}
.tab-side .nav-tabs li.active a {
    border-bottom: 3px solid #00ecff;
    color: #333333;
    padding-bottom: 12px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	background: none;
	border-width: 0 0 3px;
}
.nav-tabs > li > a > small {
    font-size: 14px;
    text-transform: uppercase;
}
.tab-side .nav-tabs > li > a {
    text-align: center;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    font-weight: bold;
}
.add-event {
    padding-top: 40px;
}

/*--------------------------- bars end ----------------------- */

/*--------------------------- event-details start ----------------------- */
.event-module {
    margin-top: 30px;
}
.text-weak {
    color: #cccccc;
}
.serve-grade {
    margin-bottom: 15px;
}
.icon-list > * {
    display: inline-block;
    padding-right: 5px;
}
.icon-car, .icon-print, .icon-marker, .icon-ticket {
    width: 16px;
    height: 14px;
}
.icon-map-marker-s {
    background-position: -57px -165px;
}
.icon-car {
    background-position: -1px -63px;
}
.icon-print {
    background-position: -1px -83px;
}
.icon-rmb {
    background-position: -24px -108px;
}
.padding-control {
    padding: 0 8px;
}
.writing .listings-pic {
    padding: 2px 5px 5px 1px;
    background: url(../images/pic_bg.png) no-repeat right bottom;
}
.listings-pic img {
    max-height: 254px;
    max-width: 245px;
}
.data-dt, .data-dd {
    display: inline-block;
    line-height: 160%;
    padding-bottom: 10px;
}
.data-dt {
    width: 30%;
    margin-left: 5px;
    vertical-align: top;
}
.data-dd {
    width: 66%;
}
.venues-list {
    border-style:solid;
    border-color:#ddd;
    border-width:1px 0 0
}
.venues-list legend {
    border:0 none;margin:0;
    width:auto;
    display:inline-block;
    padding:5px 10px
}
.venues-list .serve-contact {
    border-bottom:1px dotted #ccc
}
.venues-list .serve-contact:last-child {
    border-bottom:0 none;
}
.evetnt-tagbala {
    margin-top: 15px;
}
.main .layout-parag {
    margin-bottom: 30px;
    margin-top: 40px;
}
.tips-taxi {
    width: 960px;
    position: fixed;
    top: 20%;
    left: 50%;
    margin-left: -480px;
}
.alert-default {
    background: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, .25);
    position: absolute;
    z-index: 100;
}
.alert-default > .close {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #a5a5a5;
    font-size: 32px;
    line-height: 32px;
    color: #fff;
    text-shadow: none;
}
.alert-default > .btn {
    position: absolute;
    border-radius: 20px;
}
.btn-l {
    padding: 0 30px;
}
.btn-red {
    background: rgba(249, 66, 30, 1);
}
.icon-print-wh, .icon-print-wh-s {
    background: url(../Images/icon_print.png) no-repeat 50% 50%;
    background-size: 100% 100%;
}
.tips-taxi .alert-content {
    margin: 130px;
}
.tips-taxi h1 {
    font-size: 42px;
    font-weight: 400;
}
.tips-taxi .alert-content > p {
    font-size: 32px;
    line-height: 150%;
}
#listingMapContent {
    width: 100%;
    height: 220px;
}
.main .layout-map {
    margin-bottom: 40px;
}
.snow-house {
    color:#999;
    font-weight: normal;
}
.publish-date .date-day {
    font-size: 48px;
    line-height: 48px;
}
.date-moon {
    font-size: 28px;
    line-height: 18px;
    text-transform: uppercase;
}
.btn-email {
    padding: 10px !important;
    line-height: normal;
}


/*--------------------------- event-details end ----------------------- */

/*--------------------------- video 开始 ----------------------- */
.bottom-banner img {
    width: 100%;
    height: auto;
}

#carousel-example-generic {
    position: relative;
}

#carousel-example-generic .big-play-icon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 146px;
    height: 147px;
    background: url(../images/play-icon.png) no-repeat -1px -1px;
}


.thats-content .flex-slider .slider-img {
    position: relative;
}

.thats-content .flex-slider .slider-img .play-icon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 62px;
    height: 63px;
    background: url(../images/play-icon.png) no-repeat -319px -1px;
}
/*--------------------------- video 结束 ----------------------- */


/*--------------------------- 地区 开始 ----------------------- */

#myCarousel .item img {
    width: 100%;
}

.featured {
    padding-top: 30px;
    margin-top: 60px;
    border-top: 1px dashed #e5e5e5;
    width: 100%;
    position: relative;
}

.featured-img img {
    width: 100%;
    height: auto;
}

.featured-more-btn {
    position: absolute;
    width: 204px;
    height: 30px;
    top: -15px;
    left: 0;
    right: 0;
    bottom: auto;
    margin: auto;
    background: url(../images/tag_more.png) no-repeat;
}

.featured-text p {
    color: #999;
}

.date .title {
    position: relative;
    background: url(../images/adorn_2.png) no-repeat left bottom;
    background-size: 100% auto;
    padding-bottom: 12px;
}
.date .title h2 {
    display: inline-block;
    font-size: 24px;
    border-bottom: 5px solid #fc4103;
    font-family: 'Arial Narrow';
}

.date .title a {
    position: absolute;
    top: 25px;
    right: 0;
    font-size: 18px;
}
.enter .title a {
    color: #46dcff;
    font-size: 12px;
}
.week-lisk {
    border-bottom: 1px solid #ddd;
}

.date .nav-tabs>li.active>a,.date .nav-tabs>li.active>a:focus,.date .nav-tabs>li.active>a:hover {
    color: #f9421e;
    border: none;
    background: url(../images/point.png) no-repeat 50% bottom;
}

.week-lisk li {
    float: left;
    width: 14.28%;
    text-align: center;
}

.week-lisk li a {
    padding: 10px 0;
    color: #999;
    border-radius: 8px;
}

.week-lisk li a:hover {
    background-color: #eee;
}

.week-lisk li span {
    display: block;
    text-align: center;
    text-transform: uppercase;
}

.week-lisk li span:first-child {
    padding-bottom: 2px;
}

.week-lisk li > a {
    padding-bottom: 4px;
    display: inline-block;
    margin-bottom: 5px;
    width: 100%;
    height: 100%;
}

.date-week {
    line-height: 12px;
    text-align: center;
}

.date-day {
    font-size: 24px;
    line-height: 24px;
    font-family: 'impact';
    font-weight: 300;
    text-align: center;
}

.tab-content-week ul li {
    padding: 13px 0;
    border-bottom: 1px dashed #e5e5e5;
}

.tab-content-week ul li>div {
    padding: 0;
}

.tab-content-week ul li>div:first-child {
    padding-right: 10px;
}

.tab-content-week .text-container h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 0;
}

.tab-content-week .text-container p {
    margin: 7px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.last-open .latest-news {
    background: none;
}

.last-open .img-container {
    position: relative;
}

.last-open .img-container-box {
    margin-bottom: 20px;
}

.last-open .img-container .text-container {
    position: absolute;
    width: 100%;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 5px 10px;
    background: rgba(0, 0, 0, .7);
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.last-open .img-container .text-container .pull-left span {
    color: #ffffff;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
}




.last-open .img-container img {
    width: 100%;
}

.trending-artiles .text-shadow {
    font-size: 24px;
}

.digest-list .data-dt {
    width: 17%;
    text-align: center;
    padding-top: 5px;
}

.digest-list .number {
    color: #f9421e;
    font-size: 48px;
}
.digest-list .data-dd,.digest-list .data-dt {
    float: left;
}

.digest-list .data-dd {
    width: 80%;
    height: 95px;
    overflow: hidden;
    margin-bottom: 10px;
}

.digest-list .data-dd a {
    margin-top: 0;
    display: inline-block;
    color: #292929;
    line-height: 120%;
    font-size: 140%;
    font-family: 'Open Sans Condensed';
}

.news-image .imgae-text h3 {
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;

}
.news-image .imgae-text p {
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin-bottom: 20px;
}

.news-image .big-image img {
    width: 100%;
}

.news-image .big-image {
    border-bottom: 1px dashed #e5e5e5;
}

.small-image {
    margin-top: 20px;
}

.small-image .row > div:nth-child(2) {
    padding-left: 8px;
}

.news-image .small-image img {
    width: 100%;
}

.news-image .small-image .imgae-text h3,.news-image .small-image .imgae-text p {
    margin: 10px 0;
    -webkit-line-clamp: 2;
}

/*侧边栏tab开始*/
.slide-tab .nav {
    background: url(../images/line_1px.png) repeat-x 0 47px;
    margin-bottom: 10px;
}

.slide-tab ul li {
    text-align: center;
}

.slide-tab .nav-tabs li.active a {
    border-color: transparent;
    background: url(../images/arrow_down.png) no-repeat 50% 98%;
}



.slide-tab .nav-tabs>li a:hover {
    border-color: transparent;
    background-color: transparent;
}

.slide-tab .nav-tabs>a:hover span {
    margin-left: 0;
}

.slide-tab  .nav-tabs {
    border: none;
}

.slide-tab ul li .thats-icon {
    display: inline-block;
    width: 28px;
    height: 28px;
    background: url(../images/icon.png) no-repeat;
}

.slide-tab ul li .icon-clock {
    background-position: -41px 0;
}

.slide-tab ul li.active .icon-clock {
    background-position: -71px 0px;
}

.slide-tab ul li .icon-fork {
    background-position: -41px -31px;
}


.slide-tab ul li.active .icon-fork {
    background-position: -71px -31px;
}

.slide-tab ul li .icon-microphone {
    background-position: -41px -61px;
}

.slide-tab ul li.active .icon-microphone {
    background-position: -71px -60px;
}

.slide-tab ul li .icon-star {
    background-position: -41px -121px;
}

.slide-tab ul li.active .icon-star {
    background-position: -71px -120px;
}

#slide-tab-Content .title {
    position: relative;
}

#slide-tab-Content .title a {
    position: absolute;
    top: 25px;
    right: 0;
    font-size: 18px;
}

#slide-tab-Content ul p {
    color: #999;
    text-align: left;
}

#slide-tab-Content ul h3 {
    text-align: left;
    margin: 0 0 10px 0;
}


/*侧边栏tab结束*/ 


/*--------------------------- 地区页结束 ----------------------- */


/*画廊轮播开始*/ 
.gallery {
    padding: 14px;
}
.gallery, .gallery-wrap {
    background: rgba(37, 40, 43, 1);
}
.flexslider .slides li {
    position: relative;
    text-align: center;
}
.front-flexslider li {
    width: 645px;
    float: left;
    display: block !important;
    min-height: 0px;
    max-height: 325px;
}
.flexslider {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    margin-bottom: 5px;
}
.flexslider .slides li {
    position: relative;
    text-align: center;
    display: block !important;
}
.front-flexslider li {
    width: 645px;
    float: left;
    display: block;
    min-height: 0px;
    max-height: 325px;
}
.flexslider .slides img {
    border: none;
    max-width: 1000px;
    max-height: 586px;
    width: auto;
    display: inline-block;
}
#slider .slides .pic-intro {
    background: none;
    font-size: 18px;
    bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-shadow: 0 2px 1px rgba(0, 0, 0, .75);
}
.pic-intro {
    background: rgba(0, 0, 0, .7);
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    font-size: 12px;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
}
.text-pure {
    color: #ffffff;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
}
#carousel.flexslider {
    margin: 0 -14px;
}
.flexslider {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    margin-bottom: 5px;
}
#carousel .slides li > a {
    display: block;
    position: relative;
    border: 2px solid transparent;
    margin: 0 11px;
    overflow: hidden;
}
#carousel img {
    display: block;
    opacity: 1;
    cursor: pointer;
}
#carousel .slides li > a span {
    color: #fff;
    display: block;
    padding: 0 3px;
    position: absolute;
    bottom: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: rgba(0,0,0,0.6);
    line-height: 30px;
    left: 0;
    right: 0;
}
#carousel .flex-direction-nav .flex-prev {
    background-position: 0 -165px;
    left: -15px;
}
#carousel .flex-direction-nav .flex-next {
    background-position: -26px -165px;
    right: -15px;
}
.flex-direction-nav a:before, .flex-direction-nav a.flex-next:before, .flex-pauseplay a.flex-play:before {
    content: '';
}
#carousel .flex-direction-nav a {
    background-color: rgba(0, 0, 0, .95);
    height: 40px;
    border-radius: 50%;
    top: 60%;
}
.flex-direction-nav a {
    height: 72px;
    margin: -36px 0 0;
    opacity: 1;
    background-image: url(../images/page_nav.png);
    background-repeat: no-repeat;
    text-indent: -9999px;
}
#slider .pic-slider {
    width: 100%;
    overflow: hidden;
}

#carousel .small-slider{
    max-width: 194px;
    max-height:98px;
}

/*画廊轮播结束*/ 

.row-fluid {
    text-align: center;
    line-height: 58px;
    margin: 20px 0 40px;
    border: 1px solid #e5e5e5;
    border-width: 1px 0;
}


/*--------------------------- galleries start ----------------------- */
.gallery-wrap .gallery {
    background-color: rgba(51, 55, 59, 1);
    margin: 0 -15px;
    padding-top: 0;
}
.gallery, .gallery-wrap {
    background: rgba(37, 40, 43, 1);
}
.gallery-wrap .word-title {
    position: relative;
    margin: 0 15px;
}
.gallery-wrap {
    padding: 0 15px;
}
.gallery-wrap .word-title h1 {
    color: rgba(255, 255, 255, 1);
    margin-top: 35px;
    margin-bottom: 20px;
}
.word-title .toolbar-slider {
    margin-top: -35px;
    margin-right: 20px;
}
.flexslider .slides li {
    position: relative;
    text-align: center;
}
.ggallery-wrap .word-title > h1, .gallery-wrap .word-title > p {
    text-overflow: initial;
    white-space: normal;
    width: 100%;
}
.word-title .toolbar-slider .share-s {
    margin-top: -9px;
}


.flex-direction-nav a {
    height: 72px;
    margin: -36px 0 0;
    opacity: 1;
    background-image: url(../images/page_nav.png);
    background-repeat: no-repeat;
    text-indent: -9999px;
}
#slider .flex-direction-nav .flex-prev {
    background-position: 3px -70px;
    border-radius: 0 3px 3px 0;
    left: 0;
}
#slider .flex-direction-nav a {
    background-color: rgba(0, 0, 0, .9);
    height: 100px;
    width: 50px;
}
#carousel .flex-direction-nav .flex-prev {
    background-position: 0 -165px;
    left: -15px;
}
#carousel .flex-direction-nav a {
    background-color: rgba(0, 0, 0, .95);
    height: 40px;
    border-radius: 50%;
    top: 60%;
}
#carousel .slider-div {
    max-width: 180px;
    max-height:112px
}
#carousel .slider-pic {
    width: 100%;
    overflow: hidden;
}
.listbox .more-gal {
    margin-left: 15px;
    margin-top: 10px;
}

.listbox .more-small {
    margin-right: 15px;
    margin-top: 17px;
}
.gallery-wrap .word-title > p {
    margin-bottom: 20px;
}

.gallery-number{
    color: #f9421e
}

.gallery-wrap .gallery #slider.flexslider {
    margin: 0 -14px 20px;
    position: relative;
}
.flexslider {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    margin-bottom: 5px;
}
#slider li .icon-save, #slider li .icon-fullscreen, .gallery-page {
    position: absolute;
    top: 540px;
}
.gallery-page {
    left: 20px;
    top: 540px;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .75);
    z-index: 3;
}

.gallery-wrap .listbox {
    margin: 0 5px;
}
.gallery-list.row {
    margin: 0;
}
.side-banner, .banner-s {
    position: relative;
}
.container-fluid .banner-s:last-child {
    margin-bottom: 20px;
}
.gallery-wrap .word-title > h1, .gallery-wrap .word-title > p, .carousel-caption h1, .side-banner .pic-intro .pull-left, .banner-s .pic-intro .pull-left, .news-pic.thumb-big h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.side-banner .pic-intro .pull-left, .banner-s .pic-intro .pull-left {
    width: 180px;
    height: 30px;
    text-align: left;
}
.container-fluid .banner-s {
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    height: 140px;
}
.container-fluid .banner-s img {
    width: 100%;
    height: auto;
}
#slider .flex-direction-nav .flex-next {
    background-position: -32px -70px;
    border-radius: 3px 0 0 3px;
    right: 0;
}


.gallery-wrap .word-title {
    position: relative;
    margin: 0 15px;
}
.gallery-wrap .select > * {
    border-color: #33373b;
}
.select-type h2, .select .col-sm-3 .lead {
    font-size: 14px;
    margin-top: 0;
}
.gallery-wrap .lead, .gallery-wrap .select-sort a.active {
    color: rgba(255, 255, 255, 1);
}
.gallery-wrap .select {
    padding-top: 25px;
}
.select-type li {
    display: inline-block;
}
.select-all .select-sort {
    padding: 10px 0;
    border-bottom: none;
}



.bdr-gray {
    border-color: #33373b;
    color: rgba(235, 245, 255, .5);
}
.btnbox {
    text-align: center;
    margin-bottom: 35px;
}
.bdr-dashed {
    border-width: 3px;
    border-style: dashed;
    height: 38px;
    line-height: 32px;
    padding: 0 70px;
}










/*--------------------------- galleries end ----------------------- */

/*--------------------------- 目录页开始 ----------------------- */

.nav-tabs.sidects {
    float: left;
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: #eaeaea;
    width: 150px;
}

.nav-tabs.sidects > li.active {
    border-right: 0;
    position: relative;
    right: -1px;
    z-index: 100;
    width: 151px;
    left: -1px;
}

.nav-tabs.sidects>li {
    border-bottom: 1px solid #eaeaea;
    float: none;
    margin: 0;
    background-color: #fff;
}

.nav-tabs.sidects li a {
    margin-right: 0;
    border: 0;
    background-color: #f4f4f4;
    font-size: 12px;
    font-weight: normal !important;
    padding: 10px 5px 10px 8px;
    word-wrap: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 0;
    color: #9a9a9a;
}

.nav-tabs.sidects li a:hover {
    background-color: #d2d2d2;
    color: #fff;
}

.nav-tabs.sidects > li.active > a, .nav-tabs.sidects > li.active > a:hover, .nav-tabs.sidects > li.active > a:focus {
    border: 0 none;
    border-left: 4px solid #f9421e;
    padding-left: 6px;
    color: #9a9a9a;
    background-color: #fff;
}

.nav-tabs.sidects li a i {
    margin-right: 5px;
}

.list-boxes .writing-container {
    border: 1px solid #eaeaea;
    padding: 0 10px;
    overflow: hidden;
    position: relative;
    overflow: hidden;
}   

.list-boxes .writing-container  .select {
    padding: 10px 0;
}

.select .area-ul {
    margin-bottom: 0;
}

.select .area-ul li {
    display: inline-block;
}

.select-type li a {
    line-height: 22px;
    display: inline-block;
    margin-bottom: 3px;
    color: #666;
    font-size: 12px;
    padding: 1px 14px;
}

.select-type li.active a {
    background: #f9421e;
    border-radius: 2px;
    color: #fff;
    // padding: 1px 14px;
}

.select-sort {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.select-sort li {
    margin-right: 20px;
}

.select-sort a.active {
    color: #292929;
}

.writing .hotwords {
    padding: 10px 0;
}

.serve-info {
    margin-bottom: 10px;
}

.serve-info li {
    float: left;
    margin-right: 20px;
}

.grade {
    margin-bottom: 10px;
}
.writing-container .pic-number {
    margin: 10px 0;
}
.serve-contact {
    background: #f5f5f5;
    border-radius: 10px;
    width: 100%;
    padding: 15px;
}

.serve-contact .dt {
    float: left;
    width: 30%;
    color: #999999;
    margin-bottom: 10px;
}

.serve-contact .dd {
    float: left;
    width: 70%;
    margin-bottom: 10px;
}

.reviews-individual ul li {
    float: left;
}

.Website-text {
    word-break:break-all;
    word-wrap:break-word;  
}

/*--------------------------- 目录页结束 ----------------------- */



/*--------------------------- events开始 ----------------------- */
.events-container .line-dashed {
    margin: 15px 0;
}
.data-input {
    color: #999;
    height: 40px;
    width: 280px;
    border-right: none;
    background-color: #eee;
}

.events-container .form-group a {
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    width: 44px;
    margin-left: -2px;
    text-align: center;
    background: url(../images/input_file.png) no-repeat 0 0;
}
.writing-date .abstract {
    padding-top: 0;
}

// .table-condensed>tbody>tr>td,
//  .table-condensed>tbody>tr>th,
  // .table-condensed>tfoot>tr>td,
//    .table-condensed>tfoot>tr>th,
    // .table-condensed>thead>tr>td,
//      .table-condensed>thead>tr>th 
    //  {
    //     padding: 5px 10px;
    // }
.datetimepicker td, .datetimepicker th {
    width: 38px;
    height: 34px;
}

// .datetimepicker td, .datetimepicker th {
//     width: auto;
// }

#form_datetime {
    padding-left: 15px;
}

.word-container .page-word.clearfix{
    padding-left: 150px;
}



 
/*--------------------------- events结束 ----------------------- */


/*--------------------------- login开始 ----------------------- */
.information {
    padding: 40px;
    width: 80%;
    margin: 40px auto 30px;
    position: relative;
    background: #ffffff;
    border: 3px solid #e5e5e5;
    border-radius: 6px;
    font-family: 'Open Sans';
}

.information > h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.information .form-group label {
    width: 30%;
    height: 40px;
    line-height: 40px;
}


.information .form-group input {
    width: 70%;
    border-radius: 0;
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
    color: #555;
}

.information .form-group>* {
    float: left;
}

.information .form-tips a {
    margin: 0 5px;
    color: #46dcff;
}

.information .form-tips a:hover{
    color: #30bedf;
}


.information .form-submit {
    width: 100%;
}

.information .form-submit button {
    margin: 30px auto;
    width: 60%;
    height: 40px;
}

.information .form-submit button:hover {
    color: #fff;
    background: rgba(230, 50, 18, 1);
}

.form-wrong {
    text-align: center;
    padding-bottom: 20px;
}

.wrong-text {
    color: red;

}
   
.gologin {
    font-size: 14px;
    line-height: 30px;
    color: #292929;
    float: right;
}

.gologin a {
    color: #46dcff;
}

.gologin a:hover {
    color: #337ab7;
}

.errorMessage p {
    color: red;
    padding-left: 12%;
}

.contact-us p:nth-child(3),.contact-us p:nth-child(4) {
    color: #b7b7b7;
    line-height: 20px;
}

.contact-us p:nth-child(4) {
    margin-bottom: 20px;
}

.information .form-group .label-hight {
    height: 120px;
}

.form-control {
    width: 70%;
    float: left;
    outline: none;
    box-shadow: none;
}

textarea.form-control {
    height: 110px;
}
/*--------------------------- login结束 ----------------------- */


/*--------------------------- Magazine开始 ----------------------- */
.magazine-ul * {
    font-family: 'Open Sans';
}

.magazine-ul li {
    margin-top: 35px;
}

.magazine-ul em {
    font-style: italic;
}

.magazine-ul h3 {
    background: url(../images/tag_bg.png) no-repeat -25px 50%;
    line-height: 28px;
    height: 28px;
    margin-left: -32px;
    margin-top: 10px;
    padding-left: 20px;
}

.magazine-ul h2 {
    margin: 5px 0;
    font-family: 'Open Sans bold';
}

.magazine-ul p {
    margin-top: 10px;
    margin-bottom: 35px;
}

// .magazine-ul .col-md-5 {
//     padding-right: 
// }

// .magazine-ul .col-md-5 img {
//     width: 100%;
// }


.btn-list {
    position: absolute;
    right: 15px;
    bottom: 0;
} 

.btn-list button:first-child {
    margin-right: 20px;
}

.page-word p {
    margin-top: 25px;
}


/*--------------------------- Magazine结束 ----------------------- */


/*--------------------------- app页开始 ----------------------- */

.app-container{
    padding-left:15px;
    padding-right:15px;
    color:#fff;
    text-align:center;
}

.app-download{
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#e83e27,#f0523c,#e83e27); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e83e27,#f0523c,#e83e27); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e83e27,#f0523c,#e83e27); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e83e27,#f0523c,#e83e27); /* Standard syntax */
    padding:13px 32px;
    margin-bottom:10px;
}

.app-container h1{
    color:#fff;
    font-family: 'Open Sans Condensed';
}

.app-container h3{
    color:#fff;
    font-family: 'Open Sans Condensed';
    text-transform:uppercase;
}

.app-container h3{
    color:#fff;
    font-family: 'Open Sans';
}

.text-intro{
    margin-top:50px;
}

.col-md-offset-2 h2 {
    color: #fff;
    font-family: Open Sans Condensed;
    position: relative;
}

.logos {
    width: 120%;
    position: relative;
    left: -10%;
}

.logos > a {
    margin-right: 5px;
}

.logos > a > img {
    width: 100%;
    max-width: 50px;
    margin-bottom: 10px;
}

.app-ewm {
    margin-top: 10px;
}

.app-ewm img {
    max-width: 106px;
    margin-right: 10px;
}

.app-ewm img:nth-child(2) {
    margin-right: 0;
}

.down-btn-list {
    margin-top: 10px;
}

.down-btn-list .down-btn {
    width: 120px;
    height: 40px;
    background-color: transparent;
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 4px;
    color: #fff;
    line-height: 40px;
}

.appphone-ad {
    margin-top: 60px;
}

.col-md-offset-2 h2:before {
    content: "";
    border: 0px solid #fff;
    border-width: 4px;
    border-color: #fff transparent transparent transparent;
    -webkit-transform: rotate(0deg);
    position: relative;
    top: 32px;
    left: 49px;
}

div.maskdown {
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    height: 2000px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    display: none;
}

div.maskdown > img {
    position: fixed;
    top: 0;
    width: 80%;
    left: 13%;
}

    


/*--------------------------- app页结束 ----------------------- */


/*--------------------------- 用户页面开始 ----------------------- */

.thats-header .user-info  li .username-href {
    color: #f9421e;
}

.thats-header .user-info  li .username-href:hover {
    color: #f9421e;
}

.user-info-name {
    font-family: 'Open Sans bold';
    font-size: 24px;
}

.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
    color: #292929;
    background: #00ecff;
    border: none;
}

.user-group.text-center li:nth-child(2) {
    margin: 10px 0;
}

.nav-sidebar > li > a {
    padding: 20px 40px;
    border-bottom: 1px solid #e5e5e5;
    font-weight: bold;
    color: #666666;
}

.bar-left .login-info {
    margin-top: 20px;
    padding: 0 20px 10px;
    line-height: 130%;
}

.main .user-content {
    margin-left: 0;
    margin-bottom: 35px;
}

.user-content li {
    padding: 25px 0;
    max-width: 694px;
    overflow: hidden;
    border-bottom: 1px dashed #e5e5e5;
}

.user-content li > div {
    padding: 0;
}

.user-content h2 {
    margin-top: 0;
}

.user-content li p {
    line-height: 240%;
    margin-left: 10px;
}

.user-content li .btn-info {
    width: 98px;
    float: right;
}

#UserInfo > div {
    height: 40px;
    margin-bottom: 20px;
}

#UserInfo .col-sm-2 {
    line-height: 40px;
}

#UserInfo input {
    height: 40px;
}

#UserInfo select {
    height: 40px;
}

.img-container .revirws-img {
    width: 160px;
    height:120px;    
}
.uc-reviews h2 {
    margin-bottom: 15px;
}
.uc-reviews .img-container, .uc-reviews .writing .comment-time {
    margin-bottom: 10px;
}
.uc-reviews .writing p {
    margin-bottom: 0;
    line-height: 175%;
}
.writing-date .col-sm-1 {
    padding: 0;
    margin-left: 50px;
}
.date-moon {
    font-size: 28px;
    line-height: 18px;
    text-transform: uppercase;
}
.uc-reviews .grade {
    margin-top: -33px;
}
.serve-info {
    overflow: hidden;
}
.serve-info > * {
    margin-right: 20px;
}
.icon-list > * {
    display: inline-block;
    padding-right: 5px;
}
.box-dye {
    background: #f5f5f5;
    border-radius: 10px;
    width: 100%;
    padding: 15px;
}
.data-dt {
    width: 30%;
    margin-left: 5px;
    vertical-align: top;
}
.data-dt, .data-dd {
    display: inline-block;
    line-height: 160%;
    padding-bottom: 10px;
}
.pagination>li>a, .pagination >a {
    border: none;
    display: inline-block;
    color: #666;
    padding: 5px 8px;
}
.pagination>.active>a {
    color: #f9421e;
    background: none;
}
.sex-label {
    height: 40px;
    line-height: 48px;
    margin: 0 20px;
}

.logo-quote {
    width: 120px;
    height: 120px;
    background: #e5e5e5;
    border-radius: 50%;
    position: absolute;
    right: -40px;
    bottom: 50px;
}

.logo-quote .logo {
    width: 75%;
    height: 48px;
    display: block;
    background: url(../images/logo_gray.png) no-repeat 0 0;
    background-size: 100% auto;
    margin: 37.5% auto;
}


/*submit event*/
.submit-title {
    height: 48px;
    margin: 10px 0 20px 0;
    background: url(../images/title.png) no-repeat 0 51%;
}

.form-signin {
    margin-bottom: 35px;
    position: relative;
}

.form-signin .form-group {
    margin-bottom: 30px;
}

.form-signin .has-feedback label~.form-control-feedback {
    top: 0px;
    right: 30px;
}

.form-signin .add-only {
    height: 30px;
}

.add-only {
    width: 24%;
    min-width: 140px;
}

.website-text {
    color: #aaa;
    padding-top: 5px;
    font-size: 12px;
}

.user-content.uc-home .confirm-save {
    margin-left: 15px;
}

.Image-Photo {
    width: 100px;
}

.form-signin .form-submit button {
    margin: 0 auto;
    width: 50%;
}

.form-listing .checkbox label:first-child {
    margin-right: 20px;
}

.ssi-button.success {
    // background-color: red;
}


/*表单验证*/
.has-feedback label~.form-control-feedback {
    top: 3px;
} 


/*--------------------------- 用户页面结束 ----------------------- */







/*精灵图统一位置*/
.icon-map-marker {
    background-position: 0 -41px;
}
/*== Common ICON ==*/
.thaticon {
    position: relative;
    display: inline-block;
    background: url(../images/icon.png) no-repeat;
    vertical-align: middle;
}
.icon-home, .icon-star, .icon-arrow-down, .icon-page-pre, .icon-page-next, .icon-share, .icon-share-d, .icon-print-wh-s,
.icon-comment, .icon-map-marker-s, .icon-fork, .icon-cutlery, .icon-rmb, .icon-add-photo, .icon-file-add {
    width: 14px;
    height: 14px;
}
.icon-home {
    margin-right: 5px;
    background-position: -24px -16px;
}
.icon-star {
    background-position: -24px -32px;
}
.active .icon-star {
    background-position: -24px -48px;
}
.icon-arrow-down {
    background-position: -26px -64px;
}
.active .icon-arrow-down {
    background-position: -26px -78px;
}
.icon-page-pre {
    background-position: -24px -123px;
}
.icon-page-next {
    background-position: -24px -143px;
}
.icon-share {
    background-position: -40px -151px;
}
.icon-share-d {
    background-position: -42px -166px;
}
.icon-comment {
    background-position: -56px -151px;
}
.icon-map-marker-s {
    background-position: -57px -165px;
}
.icon-cutlery {
    background-position: -24px -93px;
}
.icon-rmb {
    background-position: -24px -108px;
}
.icon-add-photo {
    background-position: -71px -165px;
}
.icon-file-add {
    background-position: -71px -151px;
}
/* icon:16��14px */
.icon-car, .icon-print, .icon-marker, .icon-ticket {
    width: 16px;
    height: 14px;
}
.icon-car {
    background-position: -1px -63px;
}
.icon-print {
    background-position: -1px -83px;
}
.icon-marker {
    background-position: -1px -103px;
}
.icon-ticket {
    background-position: 0 -124px;
}
/* icon:20��20px */
.icon-search, .icon-th-large, .icon-map-marker, .icon-add, .icon-calendar, .icon-calendar-g, .icon-print-wh {
    width: 20px;
    height: 20px;
}
.icon-search {
    background-position: 0 0;
}
.icon-th-large {
    background-position: 0 -20px;
}
.icon-map-marker {
    background-position: 0 -41px;
}
.icon-add {
    background-position: 0 -140px;
}
.icon-calendar {
    background-position: 2px -163px;
}
.icon-calendar-g {
    background-position: -21px -163px;
}
/* icon:24��24px */
.icon-fullscreen, .icon-save {
    width: 24px;
    height: 24px;
    opacity: .5;
    filter:alpha(opacity=50);
}
.icon-save {
    background-position: -124px -156px;
}
.icon-fullscreen {
    background-position: -156px -156px;
}
a.icon-fullscreen:hover, a.icon-save:hover {
    opacity: .75;
    filter:alpha(opacity=75);
}
/* icon:28��28px */
.icon-time, .icon-cutlery-b, .icon-goblet, .icon-percent, .icon-star-group {
    width: 28px;
    height: 28px;
}
.icon-time {
    background-position: -41px 0px;
}
.active .icon-time {
    background-position: -71px 0px;
}
.icon-cutlery-b {
    background-position: -41px -30px;
}
.active .icon-cutlery-b {
    background-position: -71px -30px;
}
.icon-goblet {
    background-position: -41px -60px;
}
.active .icon-goblet {
    background-position: -71px -60px;
}
.icon-percent {
    background-position: -41px -90px;
}
.active .icon-percent {
    background-position: -71px -90px;
}
.icon-star-group {
    background-position: -41px -120px;
}
.active .icon-star-group {
    background-position: -71px -120px;
}
/* icon:share */
.icon-twitter, .icon-facebook, .icon-weibo {
    width: 49px;
    height: 49px;
    cursor: pointer;
}
.share-s .icon-twitter, .share-s .icon-facebook, .share-s .icon-weibo {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.icon-twitter {
    background-position: -100px 0;
}
.icon-facebook {
    background-position: -100px -50px;
}
.icon-weibo {
    background-position: -100px -100px;
}
.icon-instagram {
    width: 49px;
    height: 49px;
    background-position: -3px -180px;
}
.icon-wechat {
    background-position: -150px -90px;
    cursor: pointer;
}
.icon-mail {
    background-position: -150px -120px;
    cursor: pointer;
}
.icon-print-wh, .icon-print-wh-s {
    background: url(../images/icon_print.png) no-repeat 50% 50%;
    background-size: 100% 100%;
}
/*精灵图统一位置*/






/*--------------------------- RESPONSIVE CSS ----------------------- */
@media (min-width: 1024px){
	.col-md-9.main, .col-md-9.home-block {
    	width: 70%;
    	padding-right: 0;
    }
    .col-md-3.sidebar, .col-md-3.home-block {
    	width: 30%;
	}
	.wrapper > .container, .container {
	    padding-right: 20px;
	    padding-left: 20px;
	    width: 1040px;
	}
	.wrapper > .container {
	    background: #ffffff;
	    position: relative;
	}
	.more-news, .more-text .text-container {
		margin-bottom: 35px;
	}
	.picture .col-md-2 {
	    width: 20%;
	}
	.front-carousel-caption p.text-muted {
	    color: #eee;
	}
    .writing .listings-pic {
        width: 250px;
        max-height: 292px;
    }
    .writing .listings-pic .mfp-zoom {
        display: table-cell;
        height: 245px;
        vertical-align: middle;
        width: 245px;
        text-align: center;
    }
    .tips-taxi {
        height: 480px;
    }







}   


@media (max-width: 768px) {
    .writing .listings-pic {
        background: none;
    }
    .serve-grade .pull-right {
        float: left !important;
    }
    .writing .img-container {
        width: 100%;
        margin-bottom: 15px;
    }
    .abstract {
        padding-top: 5px;
    }
	.tagbala .bdr-fresh {
		margin-bottom: 20px;
	}
	.img-container a img {
		width: 100%;
	}
	.pull-plus {
		width: 100%;
	}
	.pull-plus >a {
		width: 100%;
	}
	.h1, h1 {
		font-size: 23px;
	}
	.container-fluid {
	    padding-right: 15px;
	    padding-left: 15px;
	    margin-right: auto;
	    margin-left: auto;
	}
	.front-carousel-caption h1,  .front-carousel-caption p {
		margin-bottom: 0;
	}
	a {
	    text-decoration: none !important;
	    color: #337ab7;
	}
	div.wrapper {
    	padding-top: 60px;
	}
	.wrapper > .container {
    	padding-top: 15px;
    	// margin-top: -8px;
	}
	.main .carousel {
	    height: auto;
	    margin: 0 -15px 30px;
	    padding-bottom: 80px;
	    overflow: hidden;
	}
	.carousel-indicators {
	    bottom: -35px;
	}
	.carousel-inner {
    	overflow: visible;
	}
	.front-carousel-caption {
	    bottom: -80px;
	    background-color: #000;
	    padding: 10px;
	}
    // .sidebar .tab-pane .pull-right, .article .text-container {
    //     width: calc(100% - 104px) !important;
    // }
    .login-box {
        margin-bottom: 10px;
    }

    .information {
        width: 100%;
        padding: 0 15px;
        margin-top: 10px;
    }

    .information .form-group>* {
        float: none;
    }

    .information .form-submit button {
        margin: 30px auto;
        width: 70%;
    }

    .information .form-group label {
        width: 100%;
    }

    .information .form-group input {
        font-style: 16px;
        line-height: 16px;
        width: 100%;
        outline: none;
        resize: none;
        -webkit-appearance: none;
    }
    .gologin {
        float: none;
        display: block;
        padding-top: 10px;
    }
    .flexslider .slides img {
        border: none;
        max-width: 100%;
        max-height: 256px;
        width: auto;
        display: inline-block;
    }
    .gallery-page {
        top: 10px;
    }
    .gallery-wrap .word-title > p:nth-of-type(2) {
        margin-bottom: 57px;
    }
    .word-title .toolbar-slider {
        margin-right: 0;
    }
    .depar-select {
        width: 100%;
    }
    
    .con-message {
        width: 100%;
    }

    div.appwrapper {
        padding-top: 0;
    }

    div.appwrapper > .container {
        padding-top: 0;
    }

    .app-container { 
        padding-left:0;padding-right:0;
    }


    #form_datetime {
        width: 100%;
    }
    
    .datetime-btn {
        float: right;
        margin-top: -40px;
    }
    .writing-date .col-sm-7 {
        width: 78%;
        float: left;
    }
    .writing-date .col-sm-1 {
        width: 20%;
        float: right;
        margin-left: 0;
    }
    .img-container .revirws-img {
        width: 100%;
    }

    .has-feedback label~.form-control-feedback {
        top: 48px;
    }
    
    .information .form-group .label-hight {
        height: auto;
    }
    .form-signin .form-control {
        width: 100%;
    }

    .form-signin .has-feedback label~.form-control-feedback {
        top: 35px;
        right: 0px;
    }
    .flex-slider .slider-row ul li:nth-child(2n) {
        margin-left: 0 !important;
    }

    .flex-slider .slider-row ul li {
        width: 100% !important;
        height: auto !important;
        margin-bottom: 20px !important;
        margin-right: 0 !important;
    }

    

    .user-content.uc-home .col-xs-3 {
        line-height: 44px;
    }
}


@media (max-width: 992px) {
    
    .flex-slider .slider-row ul li {
        width: 48%;
        margin-right: 0;
    }
    .flex-slider .slider-row ul li:nth-child(2n) {
        margin-left: 4%;
    }
    .picture .col-sm-2 {
        width: 100%;
    }
    .page-bottom .pull-right {
        text-align: center;
    }
    // .sidebar .tab-pane .pull-left {
    //     width: 20%;
    // }

    // .sidebar .tab-pane .pull-right, .article .text-container {
    //     width: 75%;
    // }
    // .magazine-ul li .col-md-5 {
    //     text-align: center;
    // }

    // .magazine-ul .col-md-5 img {
    //     width: 80%;
    // }

    .magazine-ul h3 {
        margin-left: 0;
    }

    .btn-list {
        left: 15px;
    }

    .magazine-ul li {
        margin-top: 20px;
    }

    .appphone-ad {
        margin-top: 0;
    }

    .tsa.tsa-1 {
        text-align: center;
    }

    .tsab a>img {
        width: auto;
        height: auto;
    }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
    .picture .col-sm-2 {
        width: 50%;
    }

    .img-container img {
        width: 100%;
    }

    .information .form-group label {
        width: 35%;
    }


    .information .form-group input {
        width: 65%;
    }

    // .magazine-ul .col-md-5 {
    //     text-align: center;
    // }

    // .magazine-ul .col-md-5 img {
    //     width: 100%;
    // }
    .depar-select {
        width: 65%;
    }

    .con-message {
        width: 65%;
    }

    .form-signin .form-control {
        width: 95%;
    }

    .form-signin .has-feedback label~.form-control-feedback {
        top: 34px;
        right: 21px;
    }

    .writing-date .col-sm-1 {
        margin-left: 0;
    }

    // .news-pic.thumb-side {
    //     width: 48%;
    //     float: left;
    // }

    // .news-pic.thumb-side:nth-child(2n) {
    //     margin-right: 4%;
    // }
    .tab-content-week .tab-pane ul li {
        width: 48%;
        float: left;
    }
    .tab-content-week .tab-pane ul li:nth-child(2n) {
        margin-left: 4%;
    }

    .tab-content .tab-pane ul li {
        width: 48%;
        float: left;
    }

    .tab-content .tab-pane ul li:nth-child(2n) {
        margin-left: 4%;
    }

}
@media screen and (max-width: 660px) {
    .nav-tabs.sidects {
        width: 27px;
    }
    .nav-tabs.sidects li a {
        text-overflow: initial;
    }
    .nav-tabs.sidects > li.active {
        width: auto;
    }

    .word-container .page-word.clearfix{
        padding-left: 25px;
    }

}

@media screen and (max-device-width: 768px) {
    .submit-title {
        height: 25px;
        background-size: 130% auto;
        margin: 20px 0;
    }
}

@media screen and (min-width: 992px) {
    .form-signin .tygd {
        height: 115px;
    } 
}

@media screen and (max-device-width: 414px) and (min-device-width: 401px) {
    .tips-taxi {
        width: 390px;
        margin-left: -195px;
    }

}
@media screen and (max-device-width: 768px) and (min-device-width: 240px) {
    .tips-taxi h1 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
        margin-top: 40px;
    }
    .tips-taxi .alert-content {
        margin: auto 15px 0;
        padding-top: 10px;
    }
    .tips-taxi .alert-content > p {
        font-size: 16px;
        margin-bottom: 0;
    }
}
@media screen and (max-device-width: 375px) and (min-device-width: 361px) {
    .tips-taxi {
        width: 340px;
        margin-left: -170px;
    }
}
@media screen and (max-device-height: 568px) and (max-device-width: 320px) {
    .tips-taxi {
        width: 290px;
        margin-left: -145px;
    }
}