@charset "UTF-8";

/*--------------------------- Article start ----------------------- */
.word-container, .word-title {
	position: relative;
}
.word-container {
    margin-bottom: 30px;
    max-width: 704px;
}
.breadcrumb {
    background: none;
    padding-top: 0;
    padding-left: 0;
    font-size: 12px;
    margin-bottom: 10px;
}
.breadcrumb >li {
	display: inline-block;
}
.breadcrumb a {
	color: #f9421e;
}
.addup a {
    margin-left: 15px;
}
.thaticon {
    position: relative;
    display: inline-block;
    background: url(../images/icon.png) no-repeat;
    vertical-align: middle;
}
.icon-home {
    margin-right: 5px;
    background-position: -24px -16px;
}
.icon-share {
    background-position: -40px -151px;
}
.icon-comment {
    background-position: -56px -151px;
}
.text-dark {
    color: #666;
}
.article-banner {
	margin:15px 0;
}
.article-banner >img {
	max-width: 100%;
}
.share-s {
	margin-top:10px;
}
.share li {
	display: inline-block;
}
.text > p:first-child {
    margin-top: 20px;
}
.text > p {
	font-size: 16px;
	color: #221815;
    margin-bottom: 20px;
}
.text > p > img {
    margin: 10px auto 20px;
    max-width: 100%;
}
.btn-tag {
    width: auto;
    height: 24px;
    border: 1px solid #9a9a9a;
    border-radius: 4px;
    background-color: #f4f4f4;
    color: #9a9a9a;
    position: relative;
    margin-right: 10px !important;
    line-height: 12px;
    padding: 5px 15px 0px 6px !important;
}
.btn-tag:before {
    content: "";
    position: absolute;
    width: 19px;
    height: 20px;
    border: 2px solid #9a9a9a;
    transform: rotate(45deg) scale(0.75) translate(-1px, 0px) skew(14deg, 13deg);
    transform-origin: top left;
    border-bottom: 0;
    border-left: 0;
    border-radius: 4px;
    background-color: #f4f4f4;
    right: -18px;
    top: -1px;
}
.btn-tag:after {
    content: "";
    width: 6px;
    height: 6px;
    border: 1px solid #ccc;
    border-radius: 50%;
    background: transparent;
    display: block;
    position: absolute;
    right: 2px;
    top: 8px;
}
.line-dashed {
    height: 1px;
    font-size: 1px;
    border-bottom: 1px dashed #e5e5e5;
    margin-bottom: 15px;
    width: 100%;
}
.text-shadow {
    border-bottom: 5px solid #fc4103;
    font-family: 'Arial Narrow';
    display: inline-block;
}
.bor-bottom {
    border-bottom: 1px dashed #e5e5e5;
}
.thumb-big .img-container > a {
    width: 438px;
    height: 246px;
}
.thumb-small {
	display: flex;
    height: 124px;
    margin-top: 20px;
    overflow: hidden;
}
.thumb-small .img-container > a {
    width: 176px;
    height: 132px;
    display: block;
}
.thumb-small .img-container {
    flex: 5;
}
.thumb-small .text-container {
    flex: 7;
    margin-left: 5px;
}
.more-news .more-text {
    border-left: 1px dashed #e5e5e5;
}
.thumb-small h3, .more-text .text-container > h3, .thumb-side h3 {
    margin-top: 0;
    line-height: 130%;
}
.more-text .text-container > p {
    height: 40px;
    line-height: 160%;
    overflow: hidden;
}
.text-muted {
    color: #999;
}
.bdr-fresh:hover {
	color: #46dcff;
}
.word-comment {
    padding: 15px 0 10px;
}
.text-muted {
    color: #999;
}
img {
	max-width: 100%;
}
.comment-info *[type="button"] {
    margin-top: 10px;
}
.btn-l {
    padding: 0 30px;
}
.btn-l, .btn-all {
    line-height: 40px;
}
.btn-red {
    background: rgba(249, 66, 30, 1);
}
.btn-red, .btn-green, .btn-fresh, .btn-gray {
    color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    border: none;
}
.icon-search, .icon-th-large, .icon-map-marker, .icon-add, .icon-calendar, .icon-calendar-g, .icon-print-wh {
    width: 20px;
    height: 20px;
}
.icon-add {
    background-position: 0 -140px;
}
.picture {
    margin-bottom: 20px;
}

.picture .col-sm-2 {
    width: 20%;
}
.row.picture .img-container {
	// max-height: 95px;
	overflow: hidden;
}
.picture p, .picture p a, .row-fluid a, .user-info li, .user-info li a, .select-sort a, .tab-side .nav-tabs > li > a, #footer p, #footer a {
	color: #999;
}
.picture p {
    margin-top: 6px;
}
.container-fluid.page-bottom {
    overflow: hidden;
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
.page-bottom .col-md-4 {
    height: 188px;
}
.pull-rig3000ht >img {
	width:132px;
	height:132px;
}
.page-bottom .pull-left, .page-bottom .pull-right {
    width: 50%;
    padding-top: 5px;
}
.page-bottom .col-md-4:nth-of-type(2) img {
	width: auto;
	margin-top: 25px;
}
.page-bottom .col-md-4:last-child img {
	width: auto;
    display: inline-block;
    margin-top: 15px;
    margin-left: 5px;
}
.sidebar-module {
    padding: 10px 0 6px;
}
.sidebar-module h2 {
    margin-top: 0;
}
.share-s .icon-twitter {
    background-position: -150px 0;
}
.share-s .icon-facebook {
    background-position: -150px -30px;
}
.share-s .icon-weibo {
    background-position: -150px -60px;
}
.share-s .icon-twitter, .share-s .icon-facebook, .share-s .icon-weibo {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.share-s a {
	display: inline-block;
	width: 100%;
	height: 100%;
} 
.follow-us input[type="email"] {
    margin-top: 5px;
    padding: 10px;
    line-height: normal;
}
.instagram {
	width: 94%;
}
input[type="text"], input[type="email"], input[type="password"] {
    border: 1px solid #e5e5e5;
}
.btn-email {
	margin: 10px auto;
}
.btn-all, .w-all {
    width: 100%;
}
.btn-fresh:hover, .btn-fresh:focus, .btn-fresh.focus, .btn-fresh:active, .btn-fresh.active {
    background: #69cf81;
    color: #fff;
}
.btn-fresh {
    background: #76e18f;
}
.sidebar-module .share, .sidebar-module .thumb-side {
    border-bottom: 1px dashed #e5e5e5;
}
.thumb-side {
    padding-bottom: 10px;
}
.sidebar-module .thumb-side .img-container {
    margin-bottom: 15px;
}
.sidebar-module .img-container:nth-child(1) {
    margin-top: 20px;
}
.text-bold, .comment-title {
	font-weight: bold;
}
.text-italic {
    font-style: italic;
}
.add-font {
	color: #fff;
}
.add-btn:hover {
	background-color: rgb(226, 47, 12);
}
/*----- 弹出层 start ---- */
#reviewModal {
	display: block;
    padding-right: 17px;
}
.add-laber {
	width: 22%;
}
.add-control {
	width: 78%;
}
.form-group > * {
    display: block;
    float: left;
}
/*----- 弹出层 end ---- */
/*--------------------------- Article end ----------------------- */

/*--------------------------- features开始 ----------------------- */
#carousel-example-generic .item {
	max-height: 448px;
	min-height: inherit;
    overflow: hidden;
    margin-bottom: 20px;
}


#carousel-example-generic .carousel-control.left, .carousel-control.right {
    background-image: none;
}

#carousel-example-generic .item a img {
	width: 100%;
}

#carousel-example-generic .item .carousel-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: rgba(0,0,0,0.5);
	padding: 15px 15px 10px 20px;
}


#carousel-example-generic .carousel-caption h1{
	color: #fff;
	overflow: hidden;
 	text-overflow: ellipsis;
 	display: -webkit-box;
 	-webkit-line-clamp: 1;
 	-webkit-box-orient: vertical;
 	text-align: left;
 	margin: 0;
}

#carousel-example-generic .carousel-caption p {
	color: #fff;
	overflow: hidden;
 	text-overflow: ellipsis;
 	display: -webkit-box;
 	-webkit-line-clamp: 1;
 	-webkit-box-orient: vertical;
 	text-align: left;
}


.flex-slider .slider-img img {
    width: 100%;
    height: auto;
}

.flex-slider .slider-row ul {
    height: auto;
}

.flex-slider .slider-row ul li {
    padding: 0;
    height: 300px;
    display: block;
    background: rgba(234, 234, 234, 1);
    margin-bottom: 40px;
    width: 32%;
    margin-right: 2%;
    text-align: center;
}

.flex-slider .slider-row ul li:nth-child(3n) {
    margin-right: 0;
}


.flex-slider .slider-row h3 {

}

.flex-slider .slider-row p {
    line-height: 18px;
    color: #999;
    text-align: center;
}

.flex-slider .slider-more-btn {
    margin-bottom: 20px;
    text-align: center;
}

.flex-slider .slider-more-btn a {
    display: inline-block;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    color: rgba(41, 41, 41, 1);
    width: 250px;
    height: 40px;
    line-height: 33px;
    border: 3px dashed #33373b;
    border-radius: 4px;
}

.flex-slider .slider-more-btn a:hover {
    color: #666;
    border: 3px dashed #666;
}
/*--------------------------- features结束 ----------------------- */














/*--------------------------- news start ----------------------- */
.carousel-control.left, .carousel-control.right {
    background-image: none;
}
.carousel {
    margin-bottom: 45px;
}
.carousel-indicators {
    bottom: -35px;;
}
.carousel-indicators li {
    background: rgba(0, 0, 0, .25);
    border: none;
}
.carousel-indicators .active {
    background: rgba(249, 66, 30, 1);
    width: 12px;
    height: 12px;
    margin-top: -4px;
}
.front-carousel-caption {
    background-color: rgba(0,0,0,0.5);
    bottom: 0;
    padding: 15px 15px 5px 20px;
    left: 0;
    right: 0;
    text-align: left;
}
.front-carousel-caption h1 a {
    color: #fff;
}
.carousel-caption h1 {
    color: #fff;
}
.front-carousel-caption p.text-muted {
    color: #eee;
}
.thumb-side .img-container img {
	width: 100%;
}
.see-all {
    position: absolute;
    right: 0;
    top: -30px;
    padding-left: 5px;
}
.see-all > a {
    display: block;
}
.writing-container, .writing-container header {
	position: relative;
}
.text-fresh small {
    color: #46dcff;
}
.mb-35, *.mb-35 {
    margin-bottom: 35px;
}
.img-container > a > img, .sidebar .tab-pane .pull-left img, .banner a > img, .tsab a>img {
	width: 100%;
}
.writing {
    margin-bottom: 30px;
}
.abstract {
    padding-top: 30px;
    line-height: 160%;
    overflow: hidden;
}
.writing h2, .writing h3 {
    margin-top: 0;
}
.writing p.time-stamp {
    color: #aaa;
}
.item .carousel-caption h1 {
	margin-top: 0;
}
.banner, .tsab {
    margin: 0 0 15px;
}
.gallery-wrap .word-title > h1, .gallery-wrap .word-title > p, .carousel-caption h1, .side-banner .pic-intro .pull-left, .banner-s .pic-intro .pull-left, .news-pic.thumb-big h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;	
}

/*--------------------------- news end ----------------------- */


/*--------------------------- RESPONSIVE CSS ----------------------- */
@media (min-width: 1024px){
	.col-sm-9.main, .col-md-9.home-block {
    	width: 70%;
    	padding-right: 0;
    }
    .col-sm-3.sidebar, .col-md-3.home-block {
    	width: 30%;
	}
	.wrapper > .container, .container {
	    padding-right: 20px;
	    padding-left: 20px;
	    width: 1040px;
	}
	.wrapper > .container {
	    background: #ffffff;
	    position: relative;
	}
	.more-news, .more-text .text-container {
		margin-bottom: 35px;
	}
	.picture .col-md-2 {
	    width: 20%;
	}
	.front-carousel-caption p.text-muted {
	    color: #eee;
	}



}


@media (max-width: 768px) {

	.thats-content {
		padding-top: 54px;
	}

	.tagbala .bdr-fresh {
		margin-bottom: 20px;
	}
	.img-container a img {
		width: 100%;
	}
	.pull-plus {
		width: 100%;
	}
	.pull-plus >a {
		width: 100%;
	}
	.h1, h1 {
		font-size: 23px;
	}
	.container-fluid {
	    padding-right: 15px;
	    padding-left: 15px;
	    margin-right: auto;
	    margin-left: auto;
	}
	.front-carousel-caption h1,  .front-carousel-caption p {
		margin-bottom: 0;
	}
	a {
	    text-decoration: none !important;
	    color: #337ab7;
	}
	div.wrapper {
    	padding-top: 60px;
	}
	.wrapper > .container {
    	padding-top: 15px;
    	margin-top: -8px;
	}
	.carousel {
	    height: auto;
	    margin: 0 -15px 30px;
	    padding-bottom: 80px;
	    overflow: hidden;
	}
	.carousel-indicators {
	    bottom: -35px;
	}
	.carousel-inner {
    	overflow: visible;
	}
	.front-carousel-caption {
	    bottom: -80px;
	    background-color: #000;
	    padding: 10px;
	}




}


@media (max-width: 992px) {
    .flex-slider .slider-row ul li {
        height: auto;
        width: 100%;
        margin-bottom: 20px;
    }

    .picture .col-sm-2 {
        width: 100%;
    }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
    .picture .col-sm-2 {
        width: 50%;
    }

    .img-container img {
        width: 100%;
    }
}